ukol-08: Adopce zvirat

In [1]:
import pandas as pd
zvirata = pd.read_csv('adopce-zvirat.csv', sep=';')

In [9]:
zvirata.head()

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
0,7,Šváb syčivý,Madagascar giant cockroach,Bezobratlí,1000,1
1,8,Pakobylka okřídlená,Pink-winged stick insect,Bezobratlí,1000,1
2,16,Tayra,Tayra,Savci,5000,1
3,35,Kajmanka supí,Alligator snapping turtle,Plazi,2000,1
4,37,Želva žlutočelá,Indochinese box turtle,Plazi,1000,1

In [3]:
pocet_radek = zvirata.shape[0]
print(pocet_radek)

513

In [4]:
pocet_sloupcu = zvirata.shape[1]
print(pocet_sloupcu)

6

In [7]:
jmena_sloupcu = zvirata.columns
print(jmena_sloupcu)

Index(['id', 'nazev_cz', 'nazev_en', 'trida_cz', 'cena', 'k_prohlidce'], dtype='object')

In [8]:
zvirata.iloc[34]

id                     99
nazev_cz        Ibis bílý
nazev_en       White ibis
trida_cz            Ptáci
cena                 3000
k_prohlidce             1
Name: 34, dtype: object

In [11]:
zvirata.loc[34, ['nazev_cz', 'nazev_en']]

nazev_cz     Ibis bílý
nazev_en    White ibis
Name: 34, dtype: object

Využij metody sort_values() (a libovolných dalších metod), ke zjištění následujících informací:

Adopce kterých zvířat je nejdražší?
Které zvíře je alfabeticky poslední v češtině? Které v angličtině?
Bonus můžeš doplnit o nějaké vlastní pozorování.

In [13]:
zvirata.describe()

                id          cena  k_prohlidce
count   513.000000    513.000000   513.000000
mean    793.033138   3309.941520     0.892788
std     449.135151   6339.394949     0.309685
min       7.000000   1000.000000     0.000000
25%     381.000000   1000.000000     1.000000
50%     820.000000   1500.000000     1.000000
75%    1216.000000   3000.000000     1.000000
max    1421.000000  50000.000000     1.000000

In [19]:
zvirata.sort_values('cena', ascending=False)

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
114,335,Tygr sumaterský,Sumatran tiger,Savci,50000,1
113,334,Tygr ussurijský,Siberian tiger,Savci,50000,1
272,897,Tygr malajský,Malayan tiger,Savci,50000,1
129,385,Hroch obojživelný,Hippopotamus,Savci,50000,1
128,381,Slon indický,Asian elephant,Savci,50000,1
...,...,...,...,...,...,...
278,913,Čichavec perleťový,Pearl gourami,Ryby,1000,0
277,911,Papoušek zpěvavý,Red-rumped parrot,Ptáci,1000,1
276,910,Papoušek vlnkovaný (= andulka vlnkovaná),Budgerigar,Ptáci,1000,0
275,909,Hýl mexický,House finch,Ptáci,1000,1
512,1421,Kachnice kaštanová,,Ptáci,1000,1

In [24]:
zvirata.sort_values('nazev_cz', ascending=False).head(1)['nazev_cz']

371    Žluva hajní
Name: nazev_cz, dtype: object

In [26]:
zvirata.sort_values('nazev_en', ascending=False).head(1)['nazev_en']

161    Yellow-necked francolin
Name: nazev_en, dtype: object